.idea-icon {
    float: right;
    width: 20%;
    color: #FF4800;
    width: 20em;
    height: auto;
}

.idea-desc {
    float: left;
    width: 80%;
    color: #FF4800;
}

.idea-header {
    color: #FF4800 !important;
}

.ui.orange.card {
    -webkit-box-shadow: 8px 8px 12px 0px rgba(255,72,0,0.16);
    -moz-box-shadow: 8px 8px 12px 0px rgba(255,72,0,0.16);
    box-shadow: 8px 8px 12px 0px rgba(255,72,0,0.16) !important;
}
.ui.card, .ui.cards>.card {
    border-radius: 2.75rem !important;
}