.idea-icon {
    float: right;
    width: 20%;
    color: #FF4800;
    width: 20em;
    height: auto;
}

.idea-desc {
    font-family: 'Nunito', 'Avenir', sans-serif !important;
    float: left;
    width: 80%;
    color: #000;
    line-height: 1.4em;
    font-size: 1em;
}

.idea-header {
    font-family: 'Arvo', serif !important;
    line-height: 1.4em;
    margin-bottom: 0.75rem;
    font-size: 1.25em !important;
}

/* FILTER BUTTONS */

div.button-row {
    text-align: center;
    margin: 6em auto 4em auto;
}

button.filter-button, .ui.button {
    color: #FF4800 !important;
    background: none !important;
    font-family: 'Arvo', serif !important;
    font-weight: 300 !important;
    padding: 0.7em 1em;
    border-radius: 2.75rem !important;
    transition: all 0.25s ease-in-out;
}

.ui.active.button, .ui.button:hover, .ui.button:focus {
    color: #fff !important;
    background-color: #FF4800 !important;
}

.ui.button:hover {
    opacity: 0.9 !important;
}


.card-content {
    padding: 1.75rem !important;
}

.ui.orange.card {
    -webkit-box-shadow: 8px 8px 12px 0px rgba(255,72,0,0.2);
    -moz-box-shadow: 8px 8px 12px 0px rgba(255,72,0,0.2);
    box-shadow: 8px 8px 12px 0px rgba(255,72,0,0.2) !important;
}
.ui.card, .ui.cards>.card {
    border-radius: 2.75rem !important;
}

.ui.card:hover, .ui.cards>.card:hover {
    box-shadow: 0px 0px 0px 2px rgba(255,72,0,1) !important;
    /* border: 2px solid #FF4800; */
}


/* Super janky basic card fixes for mobile */

@media (max-width: 45em) {
    .ui.orange.card.card-content {
        margin: 2em !important;
    }

    .idea-desc {
        margin-left: 2em !important;
    }

    .idea-header {
        margin-left: 1.7em !important;
    }

    .idea-icon {
        margin-right: 2em !important;
    }
}